<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Curso</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Editar Curso</h1>
<form th:action="@{/cursos/actualizar/{id}(id=${curso.id})}" th:object="${curso}" method="post">
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required/>

    <label>Descripción:</label>
    <input type="text" th:field="*{descripcion}" required/>

    <button type="submit" class="btn-yellow">Actualizar</button>
</form>
<a th:href="@{/}" class="btn-blue">Volver al Home</a>
</body>
</html>
